
<div class="page" style="background-image:linear-gradient(180deg, rgba(74, 222, 222, 0.05) 71.48%, rgba(46, 188, 231, 0.7) 93.1%, #1CA7EC 100%), url('http://res.cloudinary.com/dlh4cl5ih/image/upload/<%= @meeting.user1.photos[0].key%>');">
     <div class="match-love" style="background-image: url(<%= image_path('logo_comptoir_match.svg')%>)">
     </div>

     <h2 class="preshow-card-name love-title" ><%= @meeting.user1.name %> souhaite aussi te rencontrer ! </h2>

     <%= link_to 'Ton date', meeting_path(@meeting), class: "btn btn-white-date" %>
     <%= link_to "Annuler le date",  meeting_lapins_path(@meeting), method: :post, class: "btn-date-annulation"%>
</div>
