
<div class="ecran">
    <div class= "banner-meeting" style = 'background-image: linear-gradient(0deg, rgba(18,193,187,100) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.9) 100%), url(<%= "#{@place.photo}" %>); background-size: cover;'>
          <div class="center-text-meeting">
              <h1>Ton date </h1>
          </div>
        <%= link_to user_path(@liked_user) do  %>
        <%= cl_image_tag "#{@liked_user.photos[0].key}", alt: "best place ever", class: "avatar-date" %>
        <% end %>

        <div class="bottom-left-meeting">
          <a href= <%="#{@place.url}"%> target ="_blank" style="text-decoration: none;">
            <% if @place.name.size >= 11 %>
              <h2 class="m-0" id="address"><%= @place.name.first(11) %>...</h2>
            <% else %>
              <h2 class="m-0" id="address"><%= @place.name %></h2>
            <% end %>
          </a>
          <h3><%= @place.category %></h3>
          <h3><%= @place.address %></h3>
        </div>
    </div>
    <div class="bottom-ecran">
        <div class = "rdv">
     <%= link_to new_meeting_feedback_path do  %>
          <h1><%=@liked_user.name %></h1>
          <% end %> -->
          <h2>Le <%= @day %> <%= @month %> <br> à <%= @hour%>H  </h2>
        </div>
        <div class="annulation">
          <%= link_to "Annuler le date",  meeting_lapins_path(@meeting), method: :post, class: "btn-ghost-small" %>
        </div>
    </div>
  </div>





