
<h1>Tu as un date</h1>

<%= @place.photo %>
<%= @place.name %>
<%= @place.address %>
<%= @place.category %>

<%= @liked_user.name %>
<%= @liked_user.photo %>
<%#= link_to , user_show_path(@liked_user) %>


