<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :name,
                required: true,
                input_html: { autocomplete: "Nom" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :sex,
                required: true, collection: ["homme", "femme"],
                input_html: { autocomplete: "Sexe" }%>
    <%= f.input :sexual_orientation,
                required: true, collection: ["hetero", "bi", "homo"],
                input_html: { autocomplete: "Orientation sexuelle" }%>
    <%= f.input :intention,
                required: true, collection: ["pas de plan d'un soir", "pas de serieux", "on verra bien"],
                input_html: { autocomplete: "Quel type de rencontre cherchez-vous ?" }%>
    <%= f.input :height,
                required: true,
                input_html: { autocomplete: "Taille en cm" }%>
    <div class="s-d-check d-flex justify-content-center">
      <%= f.input :smoker,
                  input_html: { autocomplete: "Je fume" }%>
      <%= f.input :drinker,
                  input_html: { autocomplete: "Je bois" }%>
    </div>
    <%= f.input :description,
                required: true,
                input_html: { autocomplete: "Description" }%>
   <div class="photo-button"> <%= f.input :photo, as: :file %> </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
