<h2><%= @user.name %></h2>
<p><%= @user.description %></p>
<p><%= @user.drinker? %></p>
<p><%= @user.job %></p>
<p><%= @user.sex %></p>
<p><%= @user.photo %></p>
<p><%= @user.sexual_orientation %></p>
<p><%= @user.sport %></p>
<p><%= @user.intention %></p>
<p><%= @user.age %></p>
<p><%= @user.height %></p>
<p><%= @user.smoker? %></p>
<p><%= @user.drinker? %></p>


<div class="container">
  <div class="row justify-content-center"></div>
    <div class="col-sm-12 col-md-12" style= "background-image: url('<%= image_tag"#{@user.photo}" %>, crop: :fil')">
        <p></p>
    </div>
  <%= link_to "Signaler #{@user.name}", "#", class: "btn btn-ghost" %>
</div>



