<h2><%= @user.name %></h2>
<p><%#= @user.address %></p>
<p><%#= @user.rating %></p>
<p><%= @user.description %></p>
<p><%= @user.drinker? %></p>
<p><%= @user.job %></p>
<p><%= @user.sex %></p>
<p><%= @user.photo %></p>
<p><%= @user.sexual_orientation %></p>
<p><%= @user.sport %></p>
<p><%= @user.intention %></p>
<p><%= @user.age %></p>
<p><%= @user.height %></p>
<p><%= @user.smoker? %></p>
