<div class="container_fluid">
  <div class="card-photo" style=" background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.49) 0%, rgba(0, 66, 88, 0) 42.71%, #FAA916 100%), url(<%= cl_image_path @user.photo%>)">
    <div class="card-photo-icone d-flex">
      <div class="card-photo-active">
        <a href="#"><i class="fas fa-minus"></i></a>
      </div>
      <div class="card-photo-non-active">
        <a href="#"><i class="fas fa-minus"></i></a>
        <a href="#"><i class="fas fa-minus"></i></a>
      </div>
    </div>
    <h2 class ="card-name"><%= @user.name %>, <%= @user.age %></h2>
    <p class="card-description"><%= @user.description %></p>
  </div>
  <div class="card-infos">
    <div class="icone d-flex justify-content-center">
      <a class="btn btn-ghost" href="#"><%= @user.height %></a>
      <a class="btn btn-ghost" href="#"><i class="fas fa-wine-glass-alt"></i><%#= @user.drinker? %></a>
      <a class="btn btn-ghost" href="#"><i class="fas fa-smoking"></i><%#= @user.smoker? %></a>
    </div>
    <div class="card-details">
      <p><%= @user.job %></p>
      <p><%= @user.sex %></p>
      <p><%= @user.sexual_orientation %></p>
      <p><%= @user.sport %></p>
      <p><%= @user.intention %></p>
    </div>
  </div>
  <%= link_to "Signaler #{@user.name}", "#", class: "btn btn-ghost" %>
</div>
