<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <%if @user.photos.attached?%>
        <% @user.photos.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <% else %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>"></li>
          <% end %>
        <% end %>
      <% else %>
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <% end %>
    </ol>

    <div class="carousel-inner">
      <%if @user.photos.attached?%>
        <% @user.photos.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <% active_photo = "active" %>
          <% else %>
            <% active_photo = "  " %>
          <% end %>
        <div class="carousel-item <%= active_photo %>">
        <%= cl_image_tag photo.key, class: "justify-content-center w-100"%>
       </div>
       <% end %>
      <% else %>
        <%= image_tag "download.jpeg", alt: "First slide", class: "d-block w-100" %>
      <% end %>
    </div>

    <%if @user.photos.attached?%>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    <% end %>
  </div>

  <div class="card-infos">
      <h2 class ="card-nickname"><%= @user.name %>, <%= @user.age %></h2>
      <p class="card-desc"><%= @user.description %></p>
    <div class="icone d-flex justify-content-around">
      <a class="btn btn-ghost" href="#"><%= @user.height %></a>
      <% if @user.drinker == true %>
        <a class="btn btn-ghost" href="#"><i class="fas fa-wine-glass-alt"></i></a>
      <%end %>
      <%if @user.smoker == true %>
        <a class="btn btn-ghost" href="#"><i class="fas fa-smoking"></i></a>
      <% end %>
    </div>
    <div class="card-details">
      <p><%= @user.job %></p>
      <p><%= @user.sport %></p>
      <p><%= @user.sexual_orientation %></p>
      <p><%= @user.sex %></p>
      <p><%= @user.sexual_orientation %></p>
      <p><%= @user.sex %></p>
      <p><%= @user.sexual_orientation %></p>
      <p><%= @user.sex %></p>
    </div>
    <%= link_to "Signaler #{@user.name}", "#", class: "btn btn-signal"%>
  </div>
