<div class="home-background">
  <div class=" home-container text-center align-items-center" >
  <%= image_tag "LogoComptoir.png" , id: "home-logo"%>
  <%= image_tag "Comptoir.png" , id: "home-logo-title"%>
  <!-- <h1 id="home-title">Comptoir</h1> -->
  <% if !user_signed_in? %>
  <%= link_to "Me connecter", new_user_session_path, class: "btn", id: "home-btn-white"%>
    <% else %>
      <%= link_to "Accéder au Comptoir", users_path, class: "btn", id: "home-btn-white" %>
  <% end %>

      <br>
  <%= link_to "Me créer un compte" ,new_user_registration_path, id: "home-link-connexion" %>
  </div>
  <h1 class="line-home">« Un match, Comptoir s'occupe du reste pour une rencontre unique... »</h1>
</div>
