<div class="session-background">
<div class="session-container text-center align-items-center">
<%= image_tag "LogoComptoir.png" , style: "height: 15vh;"%><br>
<%= image_tag "Comptoir.png" , style: "height: 6vh;"%>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs form-connexion">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" },
                placeholder: "my@nomail.com",
                label: "Email" %>

    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" },
                placeholder: "******",
                label: "Mot de passe" %>
    <%#= f.input :remember_me,  as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Connexion", id: "session-btn-white" %>
  </div>
<% end %>
<div class="other-links">
<%= render "devise/shared/links" %>
</div>
</div>
